# CONFIGURACIÓN DE CONEXIÓN PARA SIAL-MED

# Configuración del Servidor de la Aplicación
PORT=8501
ENVIRONMENT=development

# Persistencia de Datos (Conexión Base de Datos)
DATABASE_URL=sqlite:///Control_insumos.db

# Configuración del Servicio de Alertas SMTP (Notificaciones de Insumos Vitales)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=ejemplo_usuario@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicación_aquí