# Entornos virtuales
.venv/
venv/
env/
ENV/

# Base de datos local (SIAL-MED)
Control_insumos.db
Control_insumos.db-shm
Control_insumos.db-wal

# Caché de Streamlit y Python
__pycache__/
*.pyc
.streamlit/config.toml
session_cache.json

# Configuraciones de editor
.vscode/
.idea/

# informacion confidencial
.env

# archivos innecesarios o de prueba
init_db.py
generar_data_prueba.py
reportes_prueba.py
prueba_salidas.py