# Entornos virtuales
.venv/
venv/
env/
ENV/

# Base de datos local (SIAL-MED)
Control_insumos.db

# Caché de Streamlit y Python
__pycache__/
*.pyc
.streamlit/config.toml
session_cache.json

# Configuraciones de editor
.vscode/
.idea/